.bg-pattern-1 {
	background-image: url("/img/card-pattern/pattern-1.png");
}

.bg-pattern-2 {
	background-image: url("/img/card-pattern/pattern-2.png");
}

.bg-pattern-3 {
	background-image: url("/img/card-pattern/pattern-3.png");
}
